# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
venv/
env/

# IDE
.idea/
.vscode/

# PyInstaller
build/
dist/
*.spec

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Pytest cache
.pytest_cache/

# Mypy cache
.mypy_cache/

# Ruff cache
.ruff_cache/

# Local environment files
.env